img {
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html {
    background-color:turquoise;
}
h1, h2, p {
    text-align:center;
}
h1, h2{
    font-family: 'Pattaya', sans-serif;
}
p {
    font-family: 'Pacifico', cursive;
}
li, ul {
    font-family: 'Lobster', cursive;
    text-align:center;
}